.navbar {
	padding: 3vw;
	transition: padding 140ms ease-in-out;
	background-color: white;
	top: -1px;
}
.navbar-brand{
	font-size: calc((2 - 1) * 1.2vw + 1rem);
}
.is-stuck{
	padding: 1.8vw 3vw;
}
.navbar-light .navbar-nav .nav-link{
	color: black;
	padding: .1em 0;
}
.nav-item:not(:first-child){
	margin-left: 1.3vw;
}